body {
    background-color: #023020;   
}

h1{
    color: yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    color: goldenrod;
    font-size: 30px;
}

h3 {
    color: green;
    text-transform: uppercase;
}

ul, ol{
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
}

li{
    margin-left: 20px ;
}

p {
    color: goldenrod;
    font-size: 23px ;
}

a { 
    color: aquamarine;
}
